@{
    ViewData["Title"] = "Welcome To Our To-Do-List";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start Organizing Your Tasks And Stay Productive!</p>
    <p>Get Starts By Creating Your First to-do Item.</p>
    <a href="/ToDoItems/Index" class="btn btn-primary">Create New To-Do Item</a>
</div>
